* {
  text-align: center;
}

#problem {
  font-size: 75px;
}

.incorrect {
  color: red;
}

#won {
  color: green;
}


.page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 170, 121);
}

.header {
min-height: 45px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 5px 20px;
font-size: 16px;
background-color: rgb(112, 42, 112);
}

.button {
  border: none;
  border-radius: 50px;
  padding: 3px 5px;
  cursor: pointer;
  background-color: rgb(247, 245, 245);
}

.artIcon {
  height: 30px;
  width: 30px;
 
}

.main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding:10px;
  padding-top: 15px;
}

.card {
  width: clamp(120px, 30vw, 200px );
  height: 200px;
  padding: 2px, 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.nftArt {
  width: 120px;
  height: 120px;
  border-radius: 5px;
}

.nftTest {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.logo {
  width: 20px;
  height: 20px;
  margin: 0px, 5px, 5px, 5px;
}

